#!/usr/bin/env bash
set -e

docker_process_sql --database=mysql <<-EOSQL
CREATE ROLE IF NOT EXISTS '${ZBX_BACKUP_DB_ROLE}';
GRANT LOCK TABLES, TRIGGER, SELECT
  ON \`${ZBX_SERVER_DB_NAME}\`.*
  TO '${ZBX_BACKUP_DB_ROLE}';
GRANT PROCESS
  ON *.*
  TO '${ZBX_BACKUP_DB_ROLE}';

CREATE USER IF NOT EXISTS '${ZBX_BACKUP_DB_USER}'@'${ZBX_BACKUP_DB_USER_HOST}'
  $(identified_by_sql "$ZBX_BACKUP_DB_PASSWORD_SQL");
GRANT '${ZBX_BACKUP_DB_ROLE}' TO '${ZBX_BACKUP_DB_USER}'@'${ZBX_BACKUP_DB_USER_HOST}';
$(default_role_sql "$ZBX_BACKUP_DB_ROLE" "$ZBX_BACKUP_DB_USER" "$ZBX_BACKUP_DB_USER_HOST")

FLUSH PRIVILEGES;
EOSQL
