#!/usr/bin/env bash
set -e

docker_process_sql --database=mysql <<-EOSQL
CREATE ROLE IF NOT EXISTS '${ZBX_PARTITION_DB_ROLE}';
GRANT SELECT, ALTER, DROP ON \`${ZBX_SERVER_DB_NAME}\`.history TO '${ZBX_PARTITION_DB_ROLE}';
GRANT SELECT, ALTER, DROP ON \`${ZBX_SERVER_DB_NAME}\`.history_uint TO '${ZBX_PARTITION_DB_ROLE}';
GRANT SELECT, ALTER, DROP ON \`${ZBX_SERVER_DB_NAME}\`.history_str TO '${ZBX_PARTITION_DB_ROLE}';
GRANT SELECT, ALTER, DROP ON \`${ZBX_SERVER_DB_NAME}\`.history_text TO '${ZBX_PARTITION_DB_ROLE}';
GRANT SELECT, ALTER, DROP ON \`${ZBX_SERVER_DB_NAME}\`.history_log TO '${ZBX_PARTITION_DB_ROLE}';
GRANT SELECT, ALTER, DROP ON \`${ZBX_SERVER_DB_NAME}\`.trends TO '${ZBX_PARTITION_DB_ROLE}';
GRANT SELECT, ALTER, DROP ON \`${ZBX_SERVER_DB_NAME}\`.trends_uint TO '${ZBX_PARTITION_DB_ROLE}';
$(mysql_only_session_variables_admin_sql)
GRANT SELECT ON \`${ZBX_SERVER_DB_NAME}\`.dbversion TO '${ZBX_PARTITION_DB_ROLE}';
GRANT SELECT, DELETE ON \`${ZBX_SERVER_DB_NAME}\`.housekeeper TO '${ZBX_PARTITION_DB_ROLE}';

CREATE USER IF NOT EXISTS '${ZBX_PARTITION_DB_USER}'@'${ZBX_PARTITION_DB_USER_HOST}'
  $(identified_by_sql "$ZBX_PARTITION_DB_PASSWORD_SQL");
GRANT '${ZBX_PARTITION_DB_ROLE}' TO '${ZBX_PARTITION_DB_USER}'@'${ZBX_PARTITION_DB_USER_HOST}';
$(default_role_sql "$ZBX_PARTITION_DB_ROLE" "$ZBX_PARTITION_DB_USER" "$ZBX_PARTITION_DB_USER_HOST")

FLUSH PRIVILEGES;
EOSQL
