#!/usr/bin/env bash
set -e

docker_process_sql --dbname "$ZBX_SERVER_DB_NAME" \
    --set=db="$ZBX_SERVER_DB_NAME" \
    --set=schema="$ZBX_SERVER_DB_SCHEMA" \
    --set=server_user="$ZBX_SERVER_DB_USER" \
    --set=backup_role="$ZBX_BACKUP_DB_ROLE" \
    --set=backup_user="$ZBX_BACKUP_DB_USER" \
    --set=backup_password="$ZBX_BACKUP_DB_PASSWORD" <<-'EOSQL'
SELECT format('CREATE ROLE %I', :'backup_role')
WHERE NOT EXISTS (SELECT 1 FROM pg_roles WHERE rolname = :'backup_role') \gexec

GRANT CONNECT ON DATABASE :"db" TO :"backup_role";
GRANT USAGE ON SCHEMA :"schema" TO :"backup_role";
ALTER DEFAULT PRIVILEGES FOR ROLE :"server_user" IN SCHEMA :"schema"
    GRANT SELECT ON TABLES TO :"backup_role";
ALTER DEFAULT PRIVILEGES FOR ROLE :"server_user" IN SCHEMA :"schema"
    GRANT SELECT, UPDATE, USAGE ON SEQUENCES TO :"backup_role";

SELECT format('CREATE USER %I WITH ENCRYPTED PASSWORD %L', :'backup_user', :'backup_password')
WHERE NOT EXISTS (SELECT 1 FROM pg_roles WHERE rolname = :'backup_user') \gexec
GRANT :"backup_role" TO :"backup_user";
EOSQL
